## Target runtime: Google Colab Python 3.12
accelerate==1.13.0
bitsandbytes==0.49.2
huggingface_hub==1.6.0
hydra-core==1.3.2
numpy==2.2.6
omegaconf==2.3.0
opencv-python==4.13.0.92
safetensors==0.7.0
torch==2.8.0
transformers==5.3.0
yt-dlp==2026.3.17
torchvision==0.23.0 # 0.26.0이 코랩에서는 되는데 pip로 설치할 때 의존성 문제가 있다. 플랫폼 차이인 듯 
